
<div class="col-md-10">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Customer List</div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Active</th>
                        <th>AccName</th>
                        <th>DOB</th>
                        <th>PAN</th>
                        <th>GSTIN</th>
                        <th>EID</th>


                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <tr>
                            <td>@Model.Rows[i]["CustomerID"]</td>
                            <td>@Model.Rows[i]["Name"]</td>
                            <td>@Model.Rows[i]["Email"]</td>
                            <td>@Model.Rows[i]["Mobile"]</td>
                            <td>@Model.Rows[i]["IsActive"]</td>
                            <td>@Model.Rows[i]["AccName"]</td>
                            <td>@Model.Rows[i]["DOB"]</td>
                            <td>@Model.Rows[i]["PAN"]</td>
                            <td>@Model.Rows[i]["GSTIN"]</td>
                            <td>@Model.Rows[i]["EmployeeID"]</td>

                            <td>
                                <div class="row">
                                    <a class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit" href="/Partner/CustomerEdit?CustomerID=@Model.Rows[i]["CustomerID"]">
                                    </a>
                                    <a class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete" href="/Partner/CustomerDelete?CustomerID=@Model.Rows[i]["CustomerID"]">
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
