@model Final_Year.Models.Employee

<div class="col-md-10">

    <div class="row">
        <div class="col-md-12">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">EmployeeProfile</div>
                    <div>
                        <a class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit" href="/Partner/EmployeeEdit?Id=@Model.EmployeeID">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-10">
                        <div class="content-box-large">
                            <div class="panel-body">
                                <table class="table table-hover" border="2">
                                    <tbody>
                                        <tr>
                                            <td>Profile Picture</td>
                                            <td>
                                                <img style="border:solid" class="img-rounded" src="~/UserProfilePicture/1404446425806.jpg" alt="yash" height="170px" width="150px" />
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>EmployeeID</td>
                                            <td>@Model.EmployeeID</td>
                                        </tr>
                                        <tr>
                                            <td>Name</td>
                                            <td>@Model.Name</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>@Model.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td>@Model.Mobile </td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>@Model.Address </td>
                                        </tr>
                                        <tr>
                                            <td>Username</td>
                                            <td>@Model.Username</td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td>@Model.Password</td>
                                        </tr>
                                        <tr>
                                            <td>Role</td>
                                            <td>@Model.EmployeeRole</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>